---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import ProblemSection from '../components/ProblemSection.astro';
import Solution from '../components/Solution.astro';
import FeaturesGrid from '../components/FeaturesGrid.astro';
import ComparisonTable from '../components/ComparisonTable.astro';
import Pricing from '../components/Pricing.astro';
import Testimonial from '../components/Testimonial.astro';
import FAQ from '../components/FAQ.astro';
import FinalCTA from '../components/FinalCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Futura Nodes - Automatización de WhatsApp">
  <Navbar />
  <main>
    <Hero />
    <SocialProof />
    <ProblemSection />
    <Solution />
    <FeaturesGrid />
    <ComparisonTable />
    <Pricing />
    <Testimonial />
    <FAQ />
    <FinalCTA />
  </main>
  <Footer />
</Layout>
